@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightBrown: #d9a577;
  --darkVariant: #121217;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.landing_page {
  background-image: url();
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../styles/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
span,
a,
li,
button {
  font-family: "Poppins", sans-serif;
}
